<template>
    <div class="header">
        <div class="d-flex justify-content-between flex-wrap">
            <img height="34" src="assets/img/logo.png" alt="logo" title="logo" />
            <div class="btn-parent">
                <b-dropdown class="btn-dropdown sort">
                    <template slot="button-content">
                        <i class="fas fa-sort-amount-down ml10"></i>مرتب سازی
                    </template>
                    <b-dropdown-item @click="sort('createdAt')">جدید</b-dropdown-item>
                    <b-dropdown-item @click="sort('soldCount')">پر فروش</b-dropdown-item>
                </b-dropdown>
                <b-dropdown class="btn-dropdown cart" :class="count!==0?'active':''">
                    <template slot="button-content">
                        <i class="fas fa-shopping-cart ml10"></i> سبد خرید ({{count===0?'خالی':count}}) <i class="fas fa-chevron-down mr10"></i>
                    </template>
                    <b-dropdown-item-button v-if="!cart.length">
                        <div class="d-flex justify-content-center flex-row">
                            سبد خرید شما خالی میباشد!
                        </div>
                    </b-dropdown-item-button>
                    <b-dropdown-item-button v-for="(c,index) in cart" :key="index">
                        <div class="d-flex justify-content-between flex-row">
                            <div class="ml20">
                                <span class="index">{{index+1}}</span>
                                {{c.title|characterLimit(35)}}
                            </div>
                            <div class="ml20 d-none d-sm-block">{{c.price}} تومان</div>
                            <div class="counter d-none d-sm-inline-flex">
                                <button class="fn ml10" @click="removeFromCart(c)">-</button>
                                {{c.count}}
                                <button class="fn mr10" @click="addToCart(c)">+</button>
                            </div>
                        </div>
                    </b-dropdown-item-button>
                </b-dropdown>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        computed:{
            cart(){
                return this.$store.state.cart
            },
            count(){
                return this.$store.state.count
            }
        },
        methods:{
            addToCart(product){
                this.$store.commit('addToCart',product)
            },
            removeFromCart(product){
                this.$store.commit('removeFromCart',product)
            },
            sort(by){
                this.$store.commit('sort',by)
            },
        }
    }
</script>
