$i: 0;
@while $i <= 100 {
  .mt#{$i}{margin-top: #{$i}px}
  .pt#{$i}{padding-top: #{$i}px}
  .mb#{$i}{padding-bottom: #{$i}px}
  .pb#{$i}{padding-bottom: #{$i}px}
  $i: $i + 5;
}
$i:0;
@while $i <= 70 {
  .p#{$i}{padding: #{$i}px}
  .pr#{$i}{padding-right: #{$i}px}
  .pl#{$i}{padding-left: #{$i}px}
  .mr#{$i}{margin-right: #{$i}px}
  .ml#{$i}{margin-left: #{$i}px}
  $i: $i + 5;
}
a:hover , a:focus{text-decoration: none;}
html , body , h1 , h2 , h3 , h4 , h5 , h6 , p{font-family: 'iranYekan', sans-serif;margin: 0;}
body{background-color: #e3f2fb;}
.img-res{max-width: 100%;max-height: 100%}
i{vertical-align: middle}
.opacity80{opacity: .8}
.opacity60{opacity: .6}
.opacity0{opacity: 0}
.width100{width: 100%}
.bg{background-size: cover;background-position: center;}
*:focus{outline: 0 !important;}
*{direction: rtl}

.header{
  &{margin-top: 50px;padding: 30px;background-color: white;box-shadow: 0 30px 40px 0 rgba(0, 0, 0, 0.1);border-radius: 4px}
  @media screen and (max-width: 768px){
    .btn-parent{text-align: right}
    .sort,.cart{margin-top: 10px}
  }
  .dropdown{
    &.btn-dropdown{
      button{border: solid 1px #d5d5d5;background-color: #ffffff;color:#444;font-weight: 300;padding: 7px 15px}
      &.sort{
        button::after{display: none}
        .dropdown-menu{
          &{min-width: 0;width: 100%;text-align: center;margin-top: 0;border-top: 0;border-radius: 0 0 .25rem .25rem;padding: 0;}
          li{
            a{padding: 10px 0}
            &{border-bottom: 1px solid #b2bac1;}
            &:last-child{border-bottom: 0}
          }
        }
      }
      &.cart{
        button{direction: rtl}
        button::after{display: none}
        .fa-shopping-cart{color:#05c925}
        &.active{
          button{background-color: #05c925;color: white}
          .fa-shopping-cart{color:white}
        }
        ul{
          &{background-color: #05c925}
          li{
            button.dropdown-item{
              &{background-color: transparent;color:white;border: 0;direction: rtl;margin-top: 20px;}
              &:first-child{margin-top: 0}
              .index{width: 25px;height: 25px;display: inline-flex;align-items: center;justify-content: center;background-color: #039b1c;border-radius: 50%;margin-left: 10px}
              .counter{
                .fn{padding: 0;width: 19px;height: 19px;border:1px solid white;border-radius: 2px;align-items: center;justify-content: center;line-height: 1;background-color: transparent;color:white}
              }
            }
          }
        }
      }
    }

  }
}

.products{
  .ticket{
    &{background-color: white;border-radius: .25rem;overflow: hidden;direction: rtl;text-align: right;position: relative}
    .soldOut{background-color: #ff0000;color:white;position: absolute;top: 0;left: 0;z-index: 2}
    .content{
      &{padding: 30px;}
      h4{font-size: 20px;line-height: 1.7;height: 70px}
      p.description{line-height: 2;font-size: 12px}
      .price{color: #05c925;font-size: 18px}
      .btn-cart{
         &{background-color: #05c925;color:white}
          &:hover{background-color: #06ee31}
        &.disabled{background-color: #efefef;color:#b2bac1;cursor: not-allowed}
      }
    }
  }
  .ticket-loader{
    &{background-color: white;border-radius: .25rem;animation-name: loaderAnimation;animation-duration: 1s;animation-iteration-count: infinite;}
    .img-loader{height: 220px;background-color: #eee}
    .content{
      &{padding: 30px;text-align: right;direction: rtl}
      .title{
        &{background-color: #eee;height: 20px}
        &.half{width: 50%;margin-top: 10px}
      }
      .description{height: 12px;background-color: #eee}
      .price{height: 18px;background-color: #eee}
      .butn{height: 37px;border-radius: .25rem;background-color: #eee}
    }
  }
}
@-webkit-keyframes loaderAnimation {
  0%   {opacity: 1}
  50%  {opacity: .5}
  100% {opacity: 1}
}

@keyframes loaderAnimation {
  0%   {opacity: 1}
  50%  {opacity: .5}
  100% {opacity: 1}
}