<template>
    <div class="products">
        <div class="row mt30" v-if="!loader">
            <div class="col-md-4 mt20" v-for="(product,index) in sortedArray">
                <div class="ticket">
                    <div class="btn soldOut" v-if="product.quantity === 0">تمام شد</div>
                    <img class="img-res" v-lazy="'https://picsum.photos/350/220?random='+index+1" alt="" title="" />
                    <div class="content">
                        <div>{{product.soldCount}} {{product.createdAt}}</div>
                        <h4 class="title">{{product.title|characterLimit(40)}}</h4>
                        <p class="description mt10 text-justify">{{product.desc|characterLimit(128)}}</p>
                        <div class="d-flex mt20 justify-content-between align-items-center">
                            <button :class="product.quantity === 0?'btn btn-cart disabled':'btn btn-cart'" :disabled="product.quantity === 0" @click="addToCart(product)">همین حالا خرید کن</button>
                            <div class="price">{{product.price}} تومان</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt20 loading" v-else>
            <div class="col-md-4 mt20" v-for="p in 3">
                <div class="ticket-loader">
                    <div class="img-loader"></div>
                    <div class="content">
                        <div class="title"></div>
                        <div class="title half"></div>
                        <div class="description mt10"></div>
                        <div class="description mt10"></div>
                        <div class="description mt10"></div>
                        <div class="description mt10"></div>
                        <div class="row mt20 align-items-center">
                            <div class="col-6">
                                <div class="price"></div>
                            </div>
                            <div class="col-6">
                                <div class="butn"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt50"></div>
    </div>
</template>

<script>
    import VueLazyload from 'vue-lazyload'
    Vue.use(VueLazyload, {
        preLoad: 1.3,
        loading: 'assets/img/loader.gif',
        attempt: 1
    })
    export default {
        data(){
            return{
                products:[],
                loader:true,
            }
        },
        mounted() {
            // axios.get('http://www.mocky.io/v2/5cd2bb7631000086283399be?mocky-delay=3000ms').then(res=>{
            axios.get('http://www.mocky.io/v2/5cd2bb7631000086283399be').then(res=>{
                this.products=res.data.data.items
                this.loader=false
            })
        },
        methods:{
            addToCart(product){
                this.$store.commit('addToCart',product)
            }
        },
        computed: {
            sortedArray: function() {
                let product = this.products
                let sort = this.$store.state.sort
                if(sort==='createdAt'){
                    return product.sort(function(a,b){
                        return b.createdAt - a.createdAt;
                    })
                }
                else{
                    return product.sort(function(a,b){
                        return b.soldCount - a.soldCount;
                    })
                }
            }
        }
    }
</script>
